html, body {
    height: 100%;
}

.box {
    display: grid;
    grid-template-columns: 300px 20fr;
    gap: 20px;
    overflow-y: auto;
}

#sidebar {
    height: 800px;
    padding: 5px;
    overflow-y: auto; /* свойство для прокрутки по горизонтали. Автоматом, если больше блока */
    /*border: 1px solid black;*/
    /*border-radius: 10px;*/

}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}